.mycanvas{
	border: 1px solid black;
}
@font-face {
  font-family: Output Sans;
  src: url(output-sans.woff2) format('woff2'),
       url(output-sans.woff) format('woff');
}
.sub{
padding-top: 5%;
}